Source: pycurl
Section: python
Priority: extra
Maintainer: Domenico Andreoli <cavok@debian.org>
Uploaders: Matthias Klose <doko@debian.org>
Build-Depends: debhelper (>= 5.0.37.1), python-all-dev (>= 2.3.5-9), libcurl3-gnutls-dev (>= 7.15.2-2)
Standards-Version: 3.7.2
XS-Python-Version: all

Package: python-pycurl
Architecture: any
Suggests: libcurl3-gnutls-dev
Depends: ${python:Depends}, ${shlibs:Depends}
Conflicts: python2.3-pycurl, python2.4-pycurl
Replaces: python2.3-pycurl, python2.4-pycurl
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings to libcurl
 This module provides the Python bindings to libcurl. Please refer to
 the libcurl documentation available in libcurl3-gnutls-dev Debian package.
 .
 NOTE: the SSL support is provided by GnuTLS.
 .
 Homepage: http://pycurl.sourceforge.net
