Source: pycurl
Section: python
Priority: extra
Maintainer: Domenico Andreoli <cavok@debian.org>
Uploaders: Matthias Klose <doko@debian.org>
Build-Depends: debhelper (>= 5.0.37.1), python-all-dev (>= 2.3.5-9), python-all-dbg, python-central, libcurl4-gnutls-dev (>= 7.16.2-1)
Standards-Version: 3.7.2
XS-Python-Version: all

Package: python-pycurl
Architecture: any
Suggests: libcurl4-gnutls-dev, python-pycurl-dbg
Depends: ${shlibs:Depends}, ${python:Depends}
Conflicts: python2.3-pycurl, python2.4-pycurl
Replaces: python2.3-pycurl, python2.4-pycurl
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Python bindings to libcurl
 This module provides the Python bindings to libcurl. Please refer to
 the libcurl documentation available in libcurl4-gnutls-dev Debian package.
 .
 NOTE: the SSL support is provided by GnuTLS.
 .
 Homepage: http://pycurl.sourceforge.net

Package: python-pycurl-dbg
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, python-dbg, python-pycurl (= ${Source-Version})
XB-Python-Version: ${python:Versions}
Description: Python bindings to libcurl (debug extension)
 This module provides the Python bindings to libcurl. Please refer to
 the libcurl documentation available in libcurl4-gnutls-dev Debian package.
 .
 This package contains the extension built for the python debug interpreter.
